/* Para comprobar la herencia de estilos en CSS puse un background en el body y luego en las categorias hombre, mujer y niños
borre el background y puse un borde para ver si se hereda el background del body, y efectivamente se hereda el background del body, 
ya que las categorias siguen teniendo el fondo verde aunque no tengan un background definido.
Adicionalmente, el font-family también se hereda del body, por lo que las categorias también tienen la fuente definida en el body.

En cuanto a la especificidad, el background color del body se heredo a las categorias, pero en el banner y footer no se heredo el background color del body, 
ya que tienen un background color definido en su clase, por lo que el background color del body no se aplica a estos elementos.
*/
body {
    margin: 0;
    font-family: 'Bitcount Prop Double Ink', sans-serif;
    font-size: 35px;
    background-color: #347736;
}

/* HEADER */
.header {
    background-color: #4CAF50;
    padding: 20px;
}

/* Logo */
.logo {
    width: 120px;
    height: 50px;
    background-color: #1f3b4d;
    color: white;
    text-align: center;
    line-height: 50px;
    display: inline-block;
}

/* Navbar */
.navbar {
    display: inline-block;
    margin-left: 20px;
}

.nav-item {
    width: 100px;
    height: 40px;
    background-color: orange;
    display: inline-block;
    margin-right: 10px;
}

/* Buscador */
.search {
    width: 200px;
    height: 40px;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
}

/* Cuenta */
.account {
    text-align: right;
    padding: 10px;
    background-color: #ddd;
}

/* Banner */
.banner {
    height: 250px;
    background-color: #2b7da3;
    margin: 20px;
}

/* Categorías */
.categories {
    margin: 20px;
}

.category {
    width: 30%;
    height: 150px;
    display: inline-block;
    margin-right: 2%;
    border: 5px solid black;
    text-align: center;
    line-height: 150px;
}

/* Marcas */
.brands {
    margin: 20px;
}

.brand {
    width: 80px;
    height: 80px;
    background-color: #eee;
    display: inline-block;
    margin: 10px;
}

/* Footer */
.footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}